# **Setting up Collab**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/f0/26/198fc8c0b98580f617cb03cb298c6056587b8f0447e20fa40c5b634ced77/pyspark-3.0.1.tar.gz (204.2MB)
     |████████████████████████████████| 204.2MB 45kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 38.6MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.0.1-py2.py3-none-any.whl size=204612243 sha256=dbaaa15194ca192befd2ec418679f95fea569048b2649a4778d36512e041a3df
  Stored in directory: /root/.cache/pip/wheels/5e/bd/07/031766ca628adec8435bb40f0bd83bb676ce65ff4007f8e73f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.0.1

# **Model Creation**

In [ ]:

# Setting up Spark context using SparkSession
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('predictor-models').master("local[*]").getOrCreate()

## **Loading the Data**

In [ ]:
mid_df = spark.read.csv('drive/MyDrive/dataset/mid_model_features_wh2/part-*.csv', header=True, inferSchema=True)
mid_df.printSchema()

root
 |-- winner: string (nullable = true)
 |-- mid_golddiff: integer (nullable = true)
 |-- bKillCount: integer (nullable = true)
 |-- rKillCount: integer (nullable = true)
 |-- first_blood: string (nullable = true)
 |-- bTowerCount: integer (nullable = true)
 |-- rTowerCount: integer (nullable = true)
 |-- first_tower: string (nullable = true)
 |-- bInhibCount: integer (nullable = true)
 |-- rInhibCount: integer (nullable = true)
 |-- first_inhib: string (nullable = true)
 |-- bDragonCount: integer (nullable = true)
 |-- rDragonCount: integer (nullable = true)
 |-- first_dragon: string (nullable = true)
 |-- bBaronCount: integer (nullable = true)
 |-- rBaronCount: integer (nullable = true)
 |-- first_baron: string (nullable = true)

**Features:**
*   mid_goldiff: This is be the difference between the gold in each team. Computed by Blue(1) - Red(0) gold.
*   bKillCount: The number of kills that the Blue side has.
*   rKillCount: The number of kills that the Red side has.
*   first_blood: Which team got the first kills of the game.
*   bTowerCount: The number of towers that the Blue side knocked down.
*   rTowerCount: The number of towers that the Red side knocked down.
*   first_tower: Which team knocked down the first tower of the game.
*   bInhibCount: The number of inhibitors that the Blue side knocked down.
*   rInhibCount: The number of inhibitors that the Red side knocked down.
*   first_inhib: Which team knocked down the first inhibitor of the game.
*   bDragonCount: The number of dragons that the Blue side has.
*   rDragonCount: The number of dragons that the Red side has.
*   first_dragon: Which team got the first dragon of the game.
*   bBaronCount: The number of barons that the Blue side has.
*   rBaronCount: The number of barons that the Red side has.
*   first_baron: Which team got the first baron of the game


**Label:**


*   winner: Indicates which team won the match

Looking at the first 5 matches in our dataset

In [ ]:
import pandas as pd
pd.DataFrame(mid_df.take(5), columns=mid_df.columns).transpose()

                 0     1     2     3     4
winner        Blue   Red  Blue   Red  Blue
mid_golddiff  1422  1368  5293  2712  -730
bKillCount       4     5    11     5     1
rKillCount       3     3     6     5     1
first_blood   Blue  Blue  Blue   Red  Blue
bTowerCount      4     1     3     2     1
rTowerCount      2     1     0     1     3
first_tower   Blue  Read  Blue  Blue  Read
bInhibCount      0     0     0     0     0
rInhibCount      0     0     0     0     0
first_inhib   Blue   Red  Blue   Red  Blue
bDragonCount     0     0     1     0     1
rDragonCount     1     1     0     2     0
first_dragon  Read  Read  Blue   Red  Blue
bBaronCount      0     0     0     0     0
rBaronCount      0     0     0     0     0
first_baron    Red  Blue  Blue  Blue  Blue

Below we can see that the number of records where blue is the winner and when red is the winner is almost balanced.

In [ ]:
mid_df.groupby('winner').count().toPandas()

  winner  count
0   Blue   4146
1    Red   3474

# **Summary Statistics**

Here we can see the mean, standard deviation, max, and min for our numerical variables.

In [ ]:
numeric_data = [t[0] for t in mid_df.dtypes if t[1] == 'int']
mid_df.select(numeric_data).describe().toPandas().transpose()

                  0                      1                    2       3      4
summary       count                   mean               stddev     min    max
mid_golddiff   7620     209.72086614173227     2817.02348085286  -13591  12673
bKillCount     7620      3.862992125984252    2.802155522367613       0     31
rKillCount     7620      3.744225721784777    2.825049109605663       0     20
bTowerCount    7620     1.7263779527559056    1.323631865981659       0      8
rTowerCount    7620     1.5360892388451444   1.2876729076787756       0      9
bInhibCount    7620  0.0032808398950131233  0.06573059977889233       0      3
rInhibCount    7620  0.0034120734908136482  0.07053997021908105       0      4
bDragonCount   7620     0.6570866141732283   0.7255637472953317       0      4
rDragonCount   7620       0.75748031496063   0.7647421170462376       0      5
bBaronCount    7620   0.014041994750656168  0.11878188379681456       0      2
rBaronCount    7620   0.018503937007874015  0.13955799240264175       0      2


# **Model Building**
### **Preparing Data**

Before we can create models, we must prepare our data so that the model can use our data and estimate parameters needed to predict game results. The data has already been altered during the firt phase of data preprocessing, however, we need to encode categroical features to numerical since machine learning models can only work with numbers. Also, we need to normalize our numeric features. This is necessar because the numeric features are in very different ranges. Numeric features that have larger values such as gold difference can influence the result more due to its larger values, however, this feature might not be as important as the other features.

### **Encoding Categorical Features**

In [ ]:
from pyspark.ml.feature import OneHotEncoder, StringIndexer, VectorAssembler

# Creating coverting categorical feature to  numerical representations
categorical_features = [t[0] for t in mid_df.dtypes if t[1] == 'string' and t[0] != 'winner' ]
stages_v1 = [] # Stages in our Pipeline

for col in categorical_features:
  strIndexer = StringIndexer(inputCol=col, outputCol=col + "Index")
  encoder = OneHotEncoder(inputCols=[strIndexer.getOutputCol()], outputCols=[col + "classVec"])
  stages_v1 += [strIndexer, encoder]


Since we doing a binary classification, our label is also categorical which we have to convert to numerical. Our label only have category which means that we can use integer encoding rather than one-hot encoding.

In [ ]:
label_strIndexer = StringIndexer(inputCol="winner", outputCol="label")
stages_v1 += [label_strIndexer]

**Normalizing Numeric Features**

In [ ]:
from pyspark.ml.feature import MinMaxScaler
from pyspark.ml.feature import VectorAssembler
from pyspark.sql.functions import udf
from pyspark.sql.types import DoubleType

num_features = [t[0] for t in mid_df.dtypes if t[1] == 'int']

for col in num_features:
  assembler = VectorAssembler(inputCols=[col], outputCol=col + "_Vect")
  scaler = MinMaxScaler(inputCol=assembler.getOutputCol(), outputCol=col+"_Scaled")
  stages_v1 +=[assembler,scaler]


### **Combining All Features**
Now, we will combine all the features columns into a single vector column that we will call features which will be the input data to our models

In [ ]:
from pyspark.ml.feature import VectorAssembler

assemblerInputs = [col + "classVec" for col in categorical_features] + [col + "_Scaled" for col in num_features]
assembler2 = VectorAssembler(inputCols=assemblerInputs, outputCol="features")
stages_v1 += [assembler2]


Now that we have defined all our data transformations, it still has not been applied to our data. They will be applied when we start training a model. Below will be the number of transformations that our data will go through.

In [ ]:
stages_v1

[StringIndexer_7046474865f2,
 OneHotEncoder_5b2205b1b3f0,
 StringIndexer_453b40b54bfa,
 OneHotEncoder_c9a444c73bb2,
 StringIndexer_a73781000fc6,
 OneHotEncoder_4a15ab493e2e,
 StringIndexer_f24fc67df6ce,
 OneHotEncoder_0a6ee7288645,
 StringIndexer_6841a6612552,
 OneHotEncoder_c7eff41dcc1e,
 StringIndexer_3a221ad1acb9,
 VectorAssembler_d1c5407d1d57,
 MinMaxScaler_e41f52baf1ae,
 VectorAssembler_eb35aac320a5,
 MinMaxScaler_66b1fc9d7c20,
 VectorAssembler_fb05c92d41de,
 MinMaxScaler_fa88df29e180,
 VectorAssembler_6e1eb553039e,
 MinMaxScaler_66dfba3e444f,
 VectorAssembler_e5b9cd1a92df,
 MinMaxScaler_d8b3c4de8411,
 VectorAssembler_6a3e88c6e8b1,
 MinMaxScaler_b87de969cb20,
 VectorAssembler_56f9b90d0f79,
 MinMaxScaler_8403daf5ee5f,
 VectorAssembler_35d10b2c7731,
 MinMaxScaler_6c822238c5bb,
 VectorAssembler_679b29239edc,
 MinMaxScaler_686cbdaee021,
 VectorAssembler_2cc7619997e9,
 MinMaxScaler_4172e5612fd3,
 VectorAssembler_eaa6f6c5f877,
 MinMaxScaler_d6fb5a6af0f6,
 VectorAssembler_71c18b8f9e9a]

In [ ]:
from pyspark.ml import Pipeline

pipeline = Pipeline().setStages(stages_v1)
pipelineModel = pipeline.fit(mid_df)
transformed_data = pipelineModel.transform(mid_df)

In [ ]:
selectedCols = ['label', 'features'] + mid_df.columns
model_df = transformed_data.select(selectedCols)
model_df.printSchema()

root
 |-- label: double (nullable = false)
 |-- features: vector (nullable = true)
 |-- winner: string (nullable = true)
 |-- mid_golddiff: integer (nullable = true)
 |-- bKillCount: integer (nullable = true)
 |-- rKillCount: integer (nullable = true)
 |-- first_blood: string (nullable = true)
 |-- bTowerCount: integer (nullable = true)
 |-- rTowerCount: integer (nullable = true)
 |-- first_tower: string (nullable = true)
 |-- bInhibCount: integer (nullable = true)
 |-- rInhibCount: integer (nullable = true)
 |-- first_inhib: string (nullable = true)
 |-- bDragonCount: integer (nullable = true)
 |-- rDragonCount: integer (nullable = true)
 |-- first_dragon: string (nullable = true)
 |-- bBaronCount: integer (nullable = true)
 |-- rBaronCount: integer (nullable = true)
 |-- first_baron: string (nullable = true)

In [ ]:
pd.DataFrame(model_df.take(5), columns=model_df.columns).transpose()

                                                              0  ...                                                  4
label                                                         0  ...                                                  0
features      (1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...  ...  (1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, ...
winner                                                     Blue  ...                                               Blue
mid_golddiff                                               1422  ...                                               -730
bKillCount                                                    4  ...                                                  1
rKillCount                                                    3  ...                                                  1
first_blood                                                Blue  ...                                               Blue
bTowerCount                                                   4  ...                                                  1
rTowerCount                                                   2  ...                                                  3
first_tower                                                Blue  ...                                               Read
bInhibCount                                                   0  ...                                                  0
rInhibCount                                                   0  ...                                                  0
first_inhib                                                Blue  ...                                               Blue
bDragonCount                                                  0  ...                                                  1
rDragonCount                                                  1  ...                                                  0
first_dragon                                               Read  ...                                               Blue
bBaronCount                                                   0  ...                                                  0
rBaronCount                                                   0  ...                                                  0
first_baron                                                 Red  ...                                               Blue

[19 rows x 5 columns]


From the dataframe above, we can see that 0 indicates for Blue and 1 indicates for Red


**Splitting the data into train and test sets**

In [ ]:
weights = [.8, .2] # train/test split
seed = 42
trainData, testData = model_df.randomSplit(weights,seed)
print("Training Dataset Count: " + str(trainData.count()))
print("Test Dataset Count: " + str(testData.count()))

Training Dataset Count: 6166
Test Dataset Count: 1454

# **RandomForestModel:**

**Initial model**

In [ ]:
from pyspark.ml.classification import RandomForestClassifier

# Create initial LogisticRegression model
rf = RandomForestClassifier(labelCol="label", featuresCol="features", maxDepth=30)

# Train model with Training Data
rfModel = rf.fit(trainData)


**Evaluating the Model**

The first thing that we will do is evaluate our the model that only had a max depth of 30.

In [ ]:
predictions = rfModel.transform(testData)
predCols = ['mid_golddiff', 'bKillCount', 'rKillCount', 'first_blood',\
            'bTowerCount', 'rTowerCount', 'first_tower', 'bInhibCount',\
            'rInhibCount', 'first_inhib', 'bDragonCount', 'rDragonCount',\
            'first_dragon', 'bBaronCount', 'rBaronCount', 'first_baron',\
            'rawPrediction', 'prediction', 'probability']

pd.DataFrame(predictions.take(5), columns=predictions.columns).transpose()

                                                               0  ...                                                  4
label                                                          0  ...                                                  0
features       (1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, ...  ...  (1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, ...
winner                                                      Blue  ...                                               Blue
mid_golddiff                                                 659  ...                                               2106
bKillCount                                                     1  ...                                                  4
rKillCount                                                     0  ...                                                  3
first_blood                                                 Blue  ...                                               Blue
bTowerCount                                                    0  ...                                                  1
rTowerCount                                                    0  ...                                                  0
first_tower                                                 Blue  ...                                               Blue
bInhibCount                                                    0  ...                                                  0
rInhibCount                                                    0  ...                                                  0
first_inhib                                                 Blue  ...                                               Blue
bDragonCount                                                   0  ...                                                  0
rDragonCount                                                   0  ...                                                  0
first_dragon                                                Blue  ...                                               Blue
bBaronCount                                                    0  ...                                                  0
rBaronCount                                                    0  ...                                                  0
first_baron                                                 Blue  ...                                               Blue
rawPrediction         [19.985972866303644, 0.014027133696356515]  ...          [19.98128203386528, 0.018717966134720834]
probability          [0.9992986433151823, 0.0007013566848178257]  ...         [0.999064101693264, 0.0009358983067360417]
prediction                                                     0  ...                                                  0

[22 rows x 5 columns]

In [ ]:

from pyspark.ml.evaluation import BinaryClassificationEvaluator

# Evaluate model
evaluator = BinaryClassificationEvaluator(rawPredictionCol="rawPrediction")
print('Test Area Under ROC', evaluator.evaluate(predictions))

Test Area Under ROC 0.98327633378933


## **Cross-validate Model**

Here we will use Cross Validation to find the best decision tree model by trying out different max depths. For this cross validation, we are using ten-fold cross validation.

In [72]:
rf.explainParams()

"bootstrap: Whether bootstrap samples are used when building trees. (default: True)\ncacheNodeIds: If false, the algorithm will pass trees to executors to match instances with nodes. If true, the algorithm will cache node IDs for each instance. Caching can speed up training of deeper trees. Users can set how often should the cache be checkpointed or disable it by setting checkpointInterval. (default: False)\ncheckpointInterval: set checkpoint interval (>= 1) or disable checkpoint (-1). E.g. 10 means that the cache will get checkpointed every 10 iterations. Note: this setting will be ignored if the checkpoint directory is not set in the SparkContext. (default: 10)\nfeatureSubsetStrategy: The number of features to consider for splits at each tree node. Supported options: 'auto' (choose automatically for task: If numTrees == 1, set to 'all'. If numTrees > 1 (forest), set to 'sqrt' for classification and to 'onethird' for regression), 'all' (use all features), 'onethird' (use 1/3 of the features), 'sqrt' (use sqrt(number of features)), 'log2' (use log2(number of features)), 'n' (when n is in the range (0, 1.0], use n * number of features. When n is in the range (1, number of features), use n features). default = 'auto' (default: auto)\nfeaturesCol: features column name. (default: features, current: features)\nimpurity: Criterion used for information gain calculation (case-insensitive). Supported options: entropy, gini (default: gini)\nlabelCol: label column name. (default: label, current: label)\nleafCol: Leaf indices column name. Predicted leaf index of each instance in each tree by preorder. (default: )\nmaxBins: Max number of bins for discretizing continuous features.  Must be >=2 and >= number of categories for any categorical feature. (default: 32)\nmaxDepth: Maximum depth of the tree. (>= 0) E.g., depth 0 means 1 leaf node; depth 1 means 1 internal node + 2 leaf nodes. (default: 5)\nmaxMemoryInMB: Maximum memory in MB allocated to histogram aggregation. If too small, then 1 node will be split per iteration, and its aggregates may exceed this size. (default: 256)\nminInfoGain: Minimum information gain for a split to be considered at a tree node. (default: 0.0)\nminInstancesPerNode: Minimum number of instances each child must have after split. If a split causes the left or right child to have fewer than minInstancesPerNode, the split will be discarded as invalid. Should be >= 1. (default: 1)\nminWeightFractionPerNode: Minimum fraction of the weighted sample count that each child must have after split. If a split causes the fraction of the total weight in the left or right child to be less than minWeightFractionPerNode, the split will be discarded as invalid. Should be in interval [0.0, 0.5). (default: 0.0)\nnumTrees: Number of trees to train (>= 1). (default: 20)\npredictionCol: prediction column name. (default: prediction)\nprobabilityCol: Column name for predicted class conditional probabilities. Note: Not all models output well-calibrated probability estimates! These probabilities should be treated as confidences, not precise probabilities. (default: probability)\nrawPredictionCol: raw prediction (a.k.a. confidence) column name. (default: rawPrediction)\nseed: random seed. (default: 1496109656189716106)\nsubsamplingRate: Fraction of the training data used for learning each decision tree, in range (0, 1]. (default: 1.0)\nthresholds: Thresholds in multi-class classification to adjust the probability of predicting each class. Array must have length equal to the number of classes, with values > 0, excepting that at most one value may be 0. The class with largest value p/t is predicted, where p is the original probability of that class and t is the class's threshold. (undefined)\nweightCol: weight column name. If this is not set or empty, we treat all instance weights as 1.0. (undefined)"

In [ ]:

from pyspark.ml.classification import RandomForestClassifier
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.ml.tuning import *

testDept = [x for x in range(0, 31) if x%6==0]
testBin = [x for x in range(2, 32) if x%6==0]
testInstance = [x for x in range(1, 10) if x %3 ==0]
rf = RandomForestClassifier(labelCol="label", featuresCol="features")
grid = ParamGridBuilder().addGrid(rf.maxDepth, testDept).addGrid(rf.maxBins, testBin).addGrid(rf.bootstrap,[True, False]).addGrid(rf.minInstancesPerNode, testInstance).build()
cvRF = CrossValidator(estimator=rf, estimatorParamMaps=grid, evaluator=evaluator, numFolds=3)
cv_RF_model = cvRF.fit(model_df)

In [ ]:
best_RF_model = cv_RF_model.bestModel

In [ ]:
# Saving the model
cv_RF_model.save("RF_Model")
from google.colab import files
files.download('RF_Model')

Below we can see how well our model performed on each number of epochs. We can see that our model performs relatively the same after a certain point.

In [ ]:
cv_RF_model.avgMetrics

[0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.9867249221778315,
 0.9868474568947445,
 0.9863921989325777,
 0.986934606156977,
 0.9865213460852587,
 0.9861846676223143,
 0.9867593899752192,
 0.9870620571400688,
 0.986647084705405,
 0.9867170536993686,
 0.9863123814360909,
 0.9859703901495378,
 0.9868305389766188,
 0.9864579893858163,
 0.9861984137035296,
 0.9868423116340965,
 0.9862063444001501,
 0.9860127395997562,
 0.9864245550894035,
 0.9863872783746492,
 0.9864203206039224,
 0.9868149208882855,
 0.9862074582118419,
 0.9861828252688583,
 0.9863705499721814,
 0.9864945039416861,
 0.9864245467884489,
 0.9866840866257013,
 0.9865952527222267,
 0.9862237501569258,
 0.9869556046172616,
 0.9873607885730575,
 0.9868193355968715,
 0.9870090812461996,
 0.9870313057534801,
 0.986805855237092,
 0.98681620883732,
 0.9871880754132871,
 0.9870309518381186,
 0.9876456412418233,
 0.9875138353960278,
 0.9870900600695307,
 0.9868242818754025,
 0.9872126330317366,
 0.9869443470746504,
 0.98781783066902,
 0.9875950651518062,
 0.986941993302515,
 0.9869952859795748,
 0.9869877831324072,
 0.9872047549647205,
 0.9877387071832768,
 0.9871445161489416,
 0.9872015242583418,
 0.9866725919114339,
 0.9872270278478146,
 0.9872564066583616,
 0.9878303129400313,
 0.9871828755627321,
 0.9872310658988044,
 0.986959986853504,
 0.987214002673551,
 0.9868306489587584,
 0.9869382595598835,
 0.9870242368556178,
 0.9867037474849163,
 0.9865779745588464,
 0.9872345067323338,
 0.9871213643022514,
 0.9875812474743332,
 0.9875342662063205,
 0.9871019040536977,
 0.9866463587901007,
 0.9872016615369634,
 0.9869539711193489,
 0.9878812692277184,
 0.9875707003816758,
 0.9869111444299836,
 0.9869135379784111,
 0.9869913559275235,
 0.9871323859245608,
 0.9875661858482365,
 0.9871203575192292,
 0.9871855403465701,
 0.9863946971164339,
 0.9873169632928115,
 0.9872069458049977,
 0.9876897971295575,
 0.9872160653941342,
 0.9872032703276501,
 0.9869599868535035,
 0.9872140026735509,
 0.9868306489587583,
 0.9869336326380544,
 0.9870242368556175,
 0.9867037474849163,
 0.9865549829953599,
 0.9872345067323334,
 0.9871213643022516,
 0.9875892443299434,
 0.9875342662063193,
 0.9871019040536978,
 0.986604484435357,
 0.9872016615369632,
 0.986953971119349,
 0.9878729018637018,
 0.9875707003816752,
 0.9869111444299838,
 0.9869133338963616,
 0.986991355927523,
 0.9871323859245615,
 0.9875520340353996,
 0.9871203575192292,
 0.9871855403465699,
 0.9863863001825939,
 0.9873173714569087,
 0.9872069458049982,
 0.987663458675722,
 0.9872160653941338,
 0.9872032703276497,
 0.9869599868535035,
 0.9872140026735516,
 0.9868306489587588,
 0.9869336326380542,
 0.9870242368556177,
 0.986703747484916,
 0.9865549829953584,
 0.987234506732334,
 0.9871213643022521,
 0.9875892443299434,
 0.987534266206319,
 0.9871019040536975,
 0.9866044844353565,
 0.9872016615369634,
 0.9869539711193496,
 0.9878729018637025,
 0.9875707003816754,
 0.9869111444299832,
 0.9869133338963609,
 0.9869913559275223,
 0.9871323859245607,
 0.987552034035399,
 0.9871203575192289,
 0.9871855403465695,
 0.9863863001825943,
 0.987317371456909,
 0.9872069458049972,
 0.9876634586757223,
 0.9872160653941335,
 0.9872032703276503]

Best paramters

In [ ]:
best_RF_model = cv_RF_model.bestModel

In [ ]:
# Saving the model
best_RF_model.save("drive/MyDrive/dataset/RF_Model")

In [ ]:
print('maxDepth', best_RF_model.getMaxDepth())
print('maxBins', best_RF_model.getMaxBins())
print('minInstancePerNode', best_RF_model.getMinInstancesPerNode())
print('bootstrap', best_RF_model.getBootstrap())

maxDepth 18
maxBins 18
minInstancePerNode 3
bootstrap False

In [70]:
testPredictions = best_RF_model.transform(testData)
print('Test Area Under ROC', evaluator.evaluate(testPredictions))

Test Area Under ROC 0.9957088843289255